.card {
  padding: 20px;
  box-shadow: 2px 3px 11px 5px rgba(133,133,133,0.4);
  -webkit-box-shadow: 2px 3px 11px 5px rgba(133,133,133,0.4);
  -moz-box-shadow: 2px 3px 11px 5px rgba(133,133,133,0.4);
}